@model IList<WebApplication.DataAccess.Document>
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Download</h2>
        <br />
        <table class="table table-bordered">
            <tr>
                <th>Doc Type</th>
                <th>Action</th>
            </tr>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.DocType</td>
                    <td>@Html.ActionLink("Download", "DownloadFile", new { Id = @obj.Id }, new { @class = "btn btn-primary" })</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
