
@{
    ViewBag.Title = "NotFound";
}

<div style="background-color: #A52A2A; color: White; height: 10px;">
</div>
<div style="color: black; height: 170px;">
    <div style=" padding:20px;">
        <h3>
            Application Error:
        </h3>
        <h4>
            Internal error, trying to process your request. Please change your request and try again.
        </h4>
        <h6>@Html.ActionLink("Go Back To Upload", "Index", "Upload")</h6>
        <br />
        <br />
    </div>
</div>
<div style="background-color: #A52A2A; color: White; height: 20px;">
</div>
